[_aio-3FBB3CAA] {
text-align: center;
}
[_aio-35FCE3FF] {
display: inline-block;
width: 100%;
max-width: 400px;
text-align: left;
margin-top: 40px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
[_aio-B95B3FCB] {
text-align: left;
padding-left: 16px;
margin-top: 20px;
}
ion-button[_aio-ADA948C6] {
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
}
